.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.navigation ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation ul li {
    padding: 0 1rem;
    list-style-type: none;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.googleLogin {
    cursor: pointer;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 40%;
    border: 2px solid black
}

.message {
    border: 2px solid black;
}

.sendMessageWrapper {
    background-color: aliceblue;
    padding: 3rem 7rem;
}

.recipients {
    padding: 1rem 0;
}

.addRecipient {
    padding: 0.5rem 0;
}

.addRecipient label {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.recipientBtn {
    margin: 1rem 0;
    padding: 0 2rem;
}

.sendMessage {
    display: flex;
    flex-direction: column;
}

.sendMessage button {
    margin: 2rem 0;
    padding: 0.5rem 2rem;
}

.notification {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 1rem;
}

.notification p {
    padding: 0 3rem;
    cursor: pointer;
}
